extends layouts/_layout.pug

block variables
	- var activePage = img;
	- var activeGroup = 'none';

block title
	title Search !{page}

block content
	.app-title
		div
			h1
				img(src="resources/images/"+ img+".png", width="30px" class="mr-3")
				|  !{page}
			p Start a beautiful journey here

	.row
		.col-md-12
			.tile
				h3.tile-title Search !{page}
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th First Name
									th Last Name
									th Username
							tbody
								tr
									td Mark
									td Otto
									td @mdo

block specific-js
	// Data table plugin
	script(type='text/javascript', src="resources/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="resources/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();