header.app-header
	a.app-header__logo(href='/') Elastic S.

	// Sidebar toggle button
	a.app-sidebar__toggle(href='#', data-toggle='sidebar', aria-label="Hide Sidebar")

	// Navbar Right Menu
	ul.app-nav

		