// Essential javascripts for application to work
script(src='resources/js/jquery-3.3.1.min.js')
script(src='resources/js/popper.min.js')
script(src='resources/js/bootstrap.min.js')
script(src='resources/js/main.js')

// The javascript plugin to display page loading on top
script(src='resources/js/plugins/pace.min.js')
